/node_modules/
/.idea/**
/Back End Files/gcpfunction/code.zip
/terraform/.terraform.lock.hcl
/terraform/modules/services/resume-architecture/.terraform/
/terraform/publish-artifacts/.terraform/
/terraform/**/.terraform/
/.idea/workspace.xml
